body {
  background-image: url("logo.jpg"),url("college.jpg");
  height:50px,80%;
  margin:0;
 // width:550px;
  background-repeat: no-repeat,no-repeat;
  background-position: right top,center;
  background-size: 300px 158px ,1460px 1291px;
}
body{
    color: #000;
}

h2 {
    color: #fff;
}
form{
    display: block;
    border: 6px solid #000;
    margin: 20px 500px;
    padding: 20px 20px 20px 20px;
    background-color:#fff;
}
.tech li{
      display:inline-block;
      margin:10px;
      margin-top:218px;
      color: #fff;


}
div{
    display:block;
}
