
form{
    border: 4px solid #3cb371;
}
label{
    display:block;
    padding:10px;
}
button[type="reset"]{
       background-color:#eeeeee;
}
button[type="submit"]{
      background:red;
      color:white;
      border-color:black;
}
.container{
    background=#0000ff;
}

